body{
    background-image:url("images/background.jpg");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-size: 100% 110%;
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: Arial;
    
  }

    nav {
   display:block;
   width: 100%;
   height: 50px;      
    }

    ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;      
    width: 50%;
    height: 75%;
    
}

nav ul li a {
    font-size: 25px;
    display: block;
    color: white;
    text-align: center;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    float: left;
    width: 20%;
    border-right: 1px solid black;
    box-sizing: border-box;
}

nav ul li a:hover
{
    background-color: red;
    display: block;
}



p{
    color:white;
    font-size:17px;
}

.award{
    float:left;
    
}

.bookcontainer {

    display: block;
    width:100%;
    height: 150px;
    margin:0 auto;

   

}

.books {
     list-style:none; 
     height:100%;
     width: 100%;

     

}

.books li {

    display:block; 
    width:25%;
    float:left;
    margin-bottom:20px;
	perspective: 500; 
    transform-style: preserve-3d;
	transition-property: perspective; 
    transition-duration: 0.5s; 
}

.books li:hover { 
    perspective: 5000; 
}
	
.books li img { 
    border:5px solid #fcfafa; 
    transform: rotateX(120deg) rotateY(30deg) rotateZ(40deg);
    box-shadow:0 3px 10px #888;
	transition-property: transform; 
    transition-duration: 0.5s; 
    opacity: 0.3;
    
}

.books li:hover img { 
    transform: rotateY(0deg); 
    opacity: 1.0;
}

.awardimage {
    width:64%;
}


@media screen and (min-width:0px) and (max-width:360px){

nav ul li a{
    width:100%;
}
.books li{
    float:left;
    width:150%;
    margin: 0 auto;
    
}
body{
    width:100%;
    margin: 0 auto;
}
h1{
    width:80%;
    margin: 0 auto;
}
}
@media screen and (min-width:361px) and (max-width:760px){

nav ul li a{
    width:100%;
}
.books li{
    float:left;
    width:100%;
    margin: 0 auto;
    margin-left:20%;
}
body{
    width:100%;
    margin: 0 auto;
}
h1{
    width:80%;
    margin: 0 auto;
}
}
@media screen and (min-width:761px) and (max-width:960px){

nav ul li a{
    width:100%;
}
.books li{
    float:left;
    width:100%;
    margin: 0 auto;
    margin-left:20%;
    
}
body{
    width:100%;
    margin: 0 auto;
}
h1{
    width:80%;
    margin: 0 auto;
}
}
@media screen and (min-width:961px) and (max-width:1300px){

nav ul li a{
    width:100%;
}
.books li{
    float:left;
    width:100%;
    margin: 0 auto;
    margin-left:20%;
    
}
body{
    width:100%;
    margin: 0 auto;
}
h1{
    width:80%;
    margin: 0 auto;
}
}
@media screen and (min-width:1301px) and (max-width:1600px){

nav ul li a{
    width:100%;
}
.books li{
    float:left;
  width:40%;
  margin:0 auto;
  margin-left: 10%;
  
    
}
body{
    width:100%;
    margin: 0 auto;
}
h1{
    width:80%;
    margin: 0 auto;
}
}