body{
    background-image:url("images/background.jpg");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: Arial;
    
  }

    nav {
   display:block;
   width: 100%;
   height: 50px;      
    }

    ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background-color: black;
    text-align: center;
    width: 40%;
    height: 75%;
    
}

li a {
    font-size: 25px;
    display: block;
    color: white;
    text-align: center;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    float: left;
    width: 20%;
    border-right: 1px solid black;
    box-sizing: border-box;
   }

   li a:hover
{
 background-color: red;
 display: block;
}

img{
    width:150px;
    height:150px;
    padding:75px;
}
p{
    color:white;
    font-size:17px;
    }
h2{
    float:right;
      color: white;    
      position: absolute;
      margin-left:15%;
      margin-top:-12%;      
      font-size: 17px;
      width: 900px;
}
h3{
    float:right;
      color: white;    
      position: absolute;
      margin-left:75%;
      margin-top:0%;
      padding-right:15px;
      font-size: 17px;
}
h4{
    float:right;
      color: white;    
      position: absolute;
      margin-left:30%;
      margin-top:0%;
      padding-right:15px;
      font-size: 17px;
}
form{
    float:right;
      color: white;    
      position: absolute;
      margin-left:30%;
      margin-top:1%;
      padding-right:15px;
      font-size: 17px;
}
@media screen and (min-width:0px) and (max-width:1300px){

.contact{
    width:100%;
    float:left;
}
nav ul li a{
        width:100%;
    }
    h2{
        margin-top:-5%;
        margin:0 auto;
        display:block;
        width:100%;
        height:100%;
    }
    .emails{
      margin-top:150%;  
    width:100%;
    float:left;
}
 h3{
    
       float:left;
        width:100%;
        height:100%;
        margin:0 auto;

    }
     h4{
       float:left;
        width:100%;
        height:100%;
    }
     h1{
         width:100%;
     }

}