@media screen and (min-width:751px) and (max-width:1500px){

    ul {

        width: 60%;

    }

}

/*----------Responsiveness-----------*/
@media screen and (min-width:0px) and (max-width:225px){
    .clearfix{
        visibility:hidden;
        display:block;
        height:0;
        clear:both;
    }
    .mumname {
        width:100%;
        height:100%;
        margin:auto;
        font-size:20px;
    }
    nav ul li a{
        width:100%;
        height:100%;
            }

    .mum{

        display:block;
        width:100%;
        height:80%;

        margin:0;


    }
    .smallmum{
        display:block;
        width:30%;
        height:80%;
        margin:0 auto;
    }
    .about{
        width:100%;
        height:50%;
        margin:auto;

    }
    .awardimage{
        display:block;
        width:100%;
        height:100%;
        margin:0 auto;
    }
    .writeup{
       
        width:100%;
        height:1%;
        margin:0 auto;
        overflow:auto;
        
    }
    .comments{
        
        
        width:100%;
        height:50%;
        margin:0 auto;
        font-size:14px;
        
    }
    .Freebook{
        width:100%;
        height:50%;
        margin:auto;
        font-size:13px;
        
    }
}
@media screen and (min-width:225px) and (max-width:750px){
    .clearfix{
        visibility:hidden;
        display:block;
        height:0;
        clear:both;
    }
    .mumname {
        width:100%;
        height:100%;
        margin:auto;
        font-size:20px;
    }
    nav ul li a{
        width:100%;
        height:100%;
            }

    .mum{

        display:block;
        width:100%;
        height:80%;

        margin:0;


    }
    .smallmum{
        display:block;
        width:30%;
        height:80%;
        margin:0 auto;
    }
    .about{
        width:100%;
        height:50%;
        margin:auto;

    }
    .awardimage{
        display:block;
        width:100%;
        height:100%;
        margin:0 auto;
    }
    .writeup{
       float:left;
        width:50%;
        height:1%;
        margin:0 auto;
        overflow:auto;
        margin-left:5%;
    }
    .comments{
        
        float:left;
        width:50%;
        height:50%;
        margin:0 auto;
        font-size:14px;
        margin-left:5%;
    }
    .Freebook{
        float:left;
        width:100%;
        height:50%;
        margin:0 auto;
        font-size:13px;
        margin-left:5%;
        
    }
}
@media screen and (min-width:751px) and (max-width:1450px){
    .clearfix{
        visibility:hidden;
        display:block;
        height:0;
        clear:both;
    }
    .mumname {
        width:100%;
        height:100%;
        margin:auto;
        font-size:20px;
    }
    nav ul li a{
        width:100%;
    }

    .mum{
        display:block;
        width:50%;
        height:80%;
        margin:0; 
    }
    .smallmum{        
        display:block;
        width:100%;
        height:80%;
        margin:0 auto;
    }
    .about{
        width:50%;
        height:50%;
        margin:auto;
        float:left;
    }
    .awardimage{
        display:block;
        width:50%;
        height:100%;
        margin:0 auto;
    }
    .writeup{
        float:left;
        width:50%;
        height:1%;
        margin:0 auto;
        overflow:auto;
        margin-left:5%;
    }
    .comments{        
        float:left;
        width:50%;
        height:50%;
        margin:0 auto;
        font-size:14px;
        margin-left:5%;
        
    }
    .Freebook{        
        width:1000%;
        height:50%;
        margin:0 auto;
        font-size:13px;
        
    }
}

@media screen and (min-width:700px) and (max-width:1200px){

        .smallmum {
            width:40%;
        }
        .about{
            font-size: 20px;
        }

}
@media screen and (min-width:500px) and (max-width:1200px){

       .awardimage{
        display:block;
        width:40%;
        height:80%;
        margin:0 auto;
    }
}

